version: '3.8'

services:
  nginx:
    image: {{ IMAGE_NGINX }}
    init: true
    restart: always
    ports:
      - {{ PORT }}:8080
    networks:
      - laravel_external
    environment:
      - WAIT_HOSTS={{ PROJECT_NAME }}_php-fpm_1:9000

networks:
  laravel_external:
